# Aplikace
NODE_ENV=development
PORT=3000
PUBLIC_ORIGIN=http://localhost:8000
API_ADMIN_KEY=replace-with-a-long-random-secret

# Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_GUILD_ID=
DISCORD_ADMIN_ROLE_ID=
DISCORD_AUTO_ROLE_ID=
DISCORD_OWNER_ID=1531972762065829938
DISCORD_ADMIN_ROLE_IDS=1531972762065829938,1531973545888841870,1531974140691480677,1531974942265180180,1531975985820471379,1531976340310458408,1531976917933359244
DISCORD_REDIRECT_URI=http://localhost:3000/api/auth/discord/callback
SESSION_SECRET=
DISCORD_APPROVED_ROLE_ID=1531978138459050144
DISCORD_WHITELIST_WEBHOOK=
DISCORD_INTERVIEW_WEBHOOK=

# Firebase Admin SDK
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
# V produkčním hostingu vložte privátní klíč jako jednu hodnotu s \n.
FIREBASE_PRIVATE_KEY=

# Volitelně: cesta k lokálnímu service-account JSON.
GOOGLE_APPLICATION_CREDENTIALS=
